*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif, monospace;
    box-sizing: border-box;
}

body{
    background: #efefef;
}

nav{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.left-nav, .middle-nav, .right-nav{
    display: flex;
    align-items: center;
}
.left-nav .menu-icon{
    width: 20px;
    margin-right: 20px;
}
.left-nav .logo{
    width: 120px;
}

.middle-nav .search-bar{
    width: 350px;
    background: #fff;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 15px;
    margin-right: 20px;
}
.search-bar input{
    outline: none;
    width: 100%;
    background: transparent;
    padding: 10px;
    border: 0;
}
.search-bar img{
    width: 20px;
}
.voice-search img{
    width: 15px;
}

.right-nav a img{
    width: 30px;
    margin-right: 20px;
}
.right-nav .user-icon img{
    border-radius: 50%;
    width: 40px;
} 

/* container */

.container{
    display: flex;
    justify-content: space-between;
    
}

.left-sidebar{
    height: 100vh;
    width: 15%;
    background: #fff;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
    flex-basis: 25%;
    align-self: flex-start;

}
.left-content a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
    color: #626262;
    width: fit-content;
}
.left-content a:first-child{
    color: orangered;
}
.left-sidebar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}
.left-content a img{
    width: 20px;
    margin-right: 20px;
}

.subscribe a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
    color: #626262;
    width: fit-content;
}
.subscribe a img{
    width: 25px;
    border-radius: 50px;
    margin-right: 20px;
}
.subscribe h3{
    margin: 20px 0;
   color: #626262;
   font-weight: 600;
}

.small-sidebar{
    width: 5%;
}

.small-sidebar a p{
    display: none;
}

.small-sidebar h3{
    display: none;
}
.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}

/* ---------------- RIGHT SIDERBAR ------------- */

.container2{
  background: #f9f9f9;
  padding-left: 17%;
  padding-right: 2%;
  padding-top: 10px;
  padding-bottom: 20px;
}
.large-container2{
    padding-left: 7%; 
}

.banner{
    width: 100%;
}
.banner img{
    width: 100%;
    border-radius: 8px;
}
.list-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-column-gap: 16px;
   grid-row-gap: 30px;
   margin-top: 15px


}
.vid-list .thumbnail {
    width: 100%;
    border-radius: 5px;
} 
.vid-list .flex-div{
    align-items: flex-start;
    margin-top: 7px;
    display: flex;
    align-items: center;
}
.vid-list .flex-div img{
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}
.vid-info{
  color: #5a5a5a;
  font-size: 13px;    
}
.vid-info a{
    color: #000;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}
 

/* --------- MEDIA QUERY-------- */

@media (max-width: 900px){
    .left-sidebar{
        display: none;
    }
    .menu-icon{
        display: none;
    }
    .container2, .large-container2 {
        padding-left: 5%;
        padding-right: 5%;
    }
    .right-nav img{
        display: none;
    }
    .right-nav .user-icon img {
        display: block;
        width: 30px;
    }
    .voice-search{
        display: none;
    }
    .middle-nav .search-bar{
        width: 100px;
        background: #fff;
        border: 1px solid black;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0 5px;
        margin-right: 10px;
    }
    .middle-nav .search-bar img{
        width: 15px;
    }
    
    .left-nav .logo{
        width: 100px;
    }
}


/* -------------Play Video page---------- */
.play-container{
    padding-left: 2%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.play-video{
    flex-basis: 69%;
}
.right-sidebar{
    flex-basis: 30%;
}
.play-video video{
    width: 100%;
}
.play-video .tag a{
    color: #0000ff;
    font-size: 13px;
}
.play-video h3{
    font-weight: 600;
    font-size: 22px;
    margin-top: 10px;
}
.play-video .play-video-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 14px;
    color: #5a5a5a;
}
.play-video .play-video-info a img{
    width: 20px;
    margin-right: 8px;
}
.play-video .play-video-info a{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
}
.play-video hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}
.plublisher{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.plublisher div{
    flex: 1;
    line-height: 18px;
}
.plublisher div p{
    color: #000;
    font-weight: 600;
    font-size: 18px;
}
.plublisher div span{
    font-size: 13px;
    color: #5a5a5a;
}
.plublisher button{
    background: red;
    color: #5a5a5a;
}
.plublisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.plublisher button{
    background: red;
    color: #fff;
    padding: 8px 30px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
}
.vid-description{
    padding-left: 55px;
    margin: 15px 0;
}
.vid-description p{
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}
.vid-description h4{
   font-size: 14px;
   color: #5a5a5a;
   margin-top: 15px;
}
.add-comment{
    display: flex;
    align-items: center;
    margin: 30px 0;
}
.add-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.add-comment input{
    border: 0;
    outline: 0;
    border-bottom: 1px solid;
    width: 100%;
    padding-top: 10px;
    background: transparent;
}
.old-comment{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.old-comment img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.old-comment h3 span{
    font-size: 12px;
    color: #5a5a5a;
    font-weight: 500;
    margin-left: 8px;
}
.old-comment .comment-action {
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}
.old-comment .comment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}
.old-comment .comment-action span{
    margin-right: 20px;
    color: #5a5a5a;
}
.old-comment .comment-action a{
    color: #0000ff;
    text-decoration: none;
}



.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    width: 100%;
}
.side-video-list .small-thumbnail{
    flex-basis: 49%;
}
.side-video-list .vid-info{
    flex-basis: 49%;
}


/* --------------media query------------- */
@media (max-width:900px){
    .play-video{
        flex-basis: 100%;
    }
    .right-sidebar{
        flex-basis: 100%;
    }
    .play-container{
        padding-left: 5%;
    }
    .play-video .play-video-info a{
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px;
    }
    .vid-description{
        padding-left: 0;
    }

}